<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.treven.sync_db_to_mac</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/treven/rainforest_db/sync_db_to_mac.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/treven/rainforest_db</string>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/Users/treven/rainforest_db/sync_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/treven/rainforest_db/sync_stderr.log</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
