[Desktop Entry]
Type=Application
Name=Grid Dashboard
Exec=/home/steven/rainforest-emu2-grid-dashboard/run_dashboard_system.sh
StartupNotify=false
Terminal=false
